body {
  color: #207cca;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  text-align: center;
}
#zipLookup {
  width:500px;
  margin:50px auto;
}
#zip-input {
  padding:8px 15px;
  background:rgba(50, 50, 50, 0.2);
  border:0px solid #dbdbdb;
}
button {
  position:relative;
  padding:6px 15px;
  left:-6px;
  border:2px solid #207cca;
  background-color:#207cca;
  color:#fafafa;
}
button:hover  {
  background-color:#fafafa;
  color:#207cca;
}
table {
  width: 70%; 
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
  padding: 20px;
  background-color: white;
}
caption {
  font-size: 20px;
  background-color: #e6ecff;
  padding-top: 10px;
  font-weight: bold;
}
th {
  font-size: 18px;
}
tr, td {
  height: 25px;
  width: 25%;
  text-align: center;
}
tr:nth-child(even) {
  background-color: #ccd9ff;
  opacity: 15%;
}
img.header {
  height: 25px;
}
img.row {
  height: 20px;
  padding-right: 15px;
  float: right;
}